body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    /* https://hexcolor.co/ */
    background-color: #efe4e0;
    position: relative;
    min-height: 100vh;
}
.mainSection{
    padding-bottom: 6rem;
}

.myNav{
    background-color: rgb(20, 20, 50);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.myNavItem{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.myNavItem:hover{
    border-bottom: 1px solid rgb(0, 128, 0);
}
.myNavDropdown{
    margin-top: 5px;
    background-color: rgb(20, 20, 50);
    border: 1px solid rgb(0, 128, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.myDopdownItem:hover{
    border-bottom: 1px solid rgb(0, 128, 0);
    background-color: rgb(20, 20, 50);
    border-radius: 5px;
}
.myNavBtnRight{
    padding-left: 0;
    text-align: left;
}
#inputSearch:focus{
    box-shadow: none;
}
#myBtnSearch{
    background-color: rgb(204, 204, 204);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#myBtnSearch:hover{
    background-color: rgb(40, 40, 100);
    /* transform: translateY(-1px); */
    color: rgb(0, 128, 0);
}
.myIconSearch:hover{
    color: rgb(0, 128, 0);
}
#navToggleButton{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#navToggleButton:hover{
    background-color: rgb(40, 40, 100);
    border-radius: 5px;
    
}
.myMnuUserItem{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.myMnuUserItem:hover{
    background-color: rgb(40, 40, 100);
    border-radius: 5px;
}
.mySidebarRight{
    z-index: 100;
    position: fixed;
    right: 250px;
    margin-right: -250px;
    width: 248px;
    margin-top: 3%;
    height: 70%;
    overflow-y: auto;
    border-radius: 10px;
    background-color: rgb(200,227,234);
    box-shadow: 4px 6px 20px #999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.myContainer{
    padding-left: 3%;
}
.mySidebarContent{
    margin-top: 7%;
    
}
.myFooter{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    bottom: 0;
    position: absolute;
}
.lastArticle{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.lastArticle:hover{
    cursor: pointer;
    transform: translateY(-2px);
    border-radius: 10px; 
    box-shadow: 4px 6px 20px #999;
}
#cookieInfo {
    font-family: Arial, Verdana, sans-serif;
    position: fixed;
    z-index: 110;
    bottom: 1%;
    left: 2%;
    width: 60%;
    border-radius: 15px;
}
#cookieInfo h6{
    font-size: 0.75em;
}
#cookieInfo p{
    font-size: 0.7em;
}
#cookieInfo a{
    font-size: 0.7em;
}
#cookieInfo a:hover{
    background-color: #ccc;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.3em;
}

/* duże ekrany */
@media only screen and (min-width:1200px){
    .mySidebarRight{
        width: 300px;
    }
    .myContainer{
        font-size: 1.1em;
        padding-left: 5%;
    }
    .myNav{
        font-size: 1.2em;
    }
    .mySidebarContent{
        font-size: 1em;
    }
    #cookieInfo{
        width: 70%;
    }
}
@media only screen and (max-width:850px){
    #inputSearch{
        max-width: 200px;
    }
}
/* Laptop -> tablet */
@media only screen and (max-width:800px){
    #inputSearch{
        max-width: 150px;
    }
}
@media only screen and (min-width:768px){
    .myContainer{
        font-size: 1em;
    }
    .myNav{
        font-size: 1.1em;
    }
    .mySidebarContent{
        font-size: 0.9em;
    }
    .myFooter{
        font-size: 0.9em;
    }
    .myModal{
        font-size: 0.9em;
    }
    #cookieInfo{
        width: 80%;
    }
}
/* Tablet -> Mobile L,M */
@media only screen and (max-width: 767px) and (min-width: 321px){
    .myNavItem{
        width: 50%;
    }
    .myNavItem:hover{
        margin-bottom: 5px;
    }
    .mySidebarRight{
        display: none;
    }
    .myNav{
        font-size: 1em;
    }
    .myContainer{
        font-size: 0.9em;
    }
    .myFooter{
        font-size: 0.8em;
    }
    .myModal{
        font-size: 0.9em;
    }
    #cookieInfo{
        width: 95%;
    }
}
/* Mobile S */
@media only screen and (max-width:320px){
    .myNavItem{
        width: 75%;
    }
    .myNavItem:hover{
        margin-bottom: 5px;
    }
    .mySidebarRight{
        display: none;
    }
    .myNav{
        font-size: 0.9em;
    }
    .myContainer{
        font-size: 0.8em;
    }
    .myFooter{
        font-size: 0.7em;
    }
    .myModal{
        font-size: 0.9em;
    }
    #cookieInfo {
        width: 95%;
    }
}