.myEditor{
    height: 50vh;
    /* font-size: 0.95em; */
    overflow-y: auto;
}
#artPublicLabel:hover{
    border-radius: 5px;
    box-shadow: 4px 6px 20px #999;
    cursor: pointer;
    transform: translateY(-1px);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#artPublic:hover{
    cursor: pointer;
}